html,body{
    width: 100%;
    background-color: black;
}

nav{
    width:100%;
    height:80px;
    color: black;
}

h3{
    color: white;
    margin-bottom: -20px;
}

.logo{
    float: left;
    margin-left: 50px;
    margin-top:35px;
    color: white;

}

.column1{
    margin-left: -130px;
    width:300px;
    height: 30px;
    color: white;
    text-align: center;
    margin-top: -50px;
}

.column2{
    margin-left: -300px;
    color: white;
    margin-top: 800px;
}

.column3{
    margin-left: -20px;
    width:300px;
    height: 30px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.column4{
    margin-left: 150px;
    width:300px;
    height: 30px;
    color: white;
    text-align: center;
    margin-top: -30px;
}

.column6{
    margin-left: 310px;
    width:300px;
    height: 30px;
    color: white;
    text-align: center;
    margin-top: -15px;
}


.column52{
    margin-right: -1000px;
    margin-top: -30px;
}

.column53{
    margin-right: -950px;
    margin-top: -30px;
}

.column54{
    margin-right: -900px;
    margin-top: -30px;
}

.column55{
    margin-right: -850px;
    margin-top: -30px;
}

.column56{
    margin-right: -800px;
    margin-top: -30px;
}

.column57{
    margin-right: -750px;
    margin-top: -30px;
}

.column2{
    text-align: center;
    margin-top: -100px;
    color: white;
    margin-left: 200px;
    width:300px;
    height:30px;
}

.nav-con{
    width:80%;
    height:50px;
    float:left;
    padding-right:10px;
    margin-top: 10px;
    color: white
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float:left;
    height:26px;
    text-align: center;
    margin-right: 10px;
    padding-left: 41px;
    margin-top: 30px;
}

.button1{
    float: right;
    border: 2px solid turquoise;
    width: 255px;
    margin-right: 30px;
    border-radius: 20px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: -25px;
    color: white;
}

.button2{
    border-radius: 50%;
    padding-top: 15px;
    width:60px;
    height:60px;
    margin-top: 80px;
    margin-left: 200px;
}


.container-fluid{
    width:1440px;
}

.col-box1{
    width: 470px;
    height: 470px;
    background-image: url(../assets/my_favourite_mix_album_cover.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-left:150px;
    margin-top:50px;
    color:white;
    padding-top: 210px;
}

.col-box2{
    width: 600px;
    height: 490px;
    border: none;
    text-align: center;
    margin-top:100px;
}

.col-box3{
    width: 600px;
    height: 67px;
    border: none;
    margin-top: 70px;
    padding-bottom:30px;
}

.col-box6{
    width:1200px;
    height:100px;
    margin-top: 180px;
    border: 2px solid black;
    margin-bottom: 40px;
    margin-left: 70px;
}

.box1{
    border: 0.5px solid darkgray;
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 600px;
    height: 67px;
}

.col1{
    width:120px;
    height:67px;
}

.col-1{
    font-weight: bold;
}

.col1 ul{
    list-style: none;
    float: center;
}

.col1 li{
    height:26px;
    text-align: center;
    margin-right: 10px;
    padding-left: 41px;
    margin-top: 30px;
    color: white;
}
.par-1{
    padding-top:85px;
    padding-bottom: -50px;
    padding-left:160px;
}

.play-buttons{
    margin-left: 600px;
    margin-top: -80px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.player-line{
    width:1300px;
    height:100px;
    margin-top: 200px;
    margin-left: 50px;
    
}

.line{
    width:100%;
    height:2px;
    background-color: lightgray;
    margin-top: -130px;
}

.line-fill{
    width:30%;
    height:2px;
    background-color: turquoise;
}

.marker{
    width: 30px;
    height: 30px;
    background-color: turquoise;
    border-radius: 40px;
    margin-left: 380px;
    margin-top: -18px;
}

.time{
    width:40px;
    height: 40px;
    border: none;
    color: white;
    margin-left: 1280px;
    margin-top: -100px;
}

.artist-box{
    width: 60px;
    height:60px;
    background-image: url(../assets/Cover\ image.jpeg);
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    margin-top: -175px;
}

.description{
    color: white;
    margin-left: 120px;
    margin-top: -50px;
}

.active-bar{
    border: 2px solid white;
    height: 50px;
    width: 300px;
    float: left;
}

.favourites{
    color: white;
    border: 2px solid white;
    height: 50px;
    width: 300px;
    float: left;
}